<h1>
    <%= title %>
</h1>

<p>
    <%= content %>
</p>

<hr>
<% if(team) {%>
    <h3>Teamleden</h3>
    <ul>
        <% team.forEach(member=> { %>
            <li>
                <%- member %>
            </li>
            <% }); %>
    </ul>
    <% } %>