<nav class="primary">
    <% if(navItems) {%>
        <ul>
            <% navItems.forEach(item=> { %>
                <li>
                    <a href="<%=item.url %>"" ><%= item.label %></a>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
    </nav>